<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./index.css" />
    <title>Tạo layout với các thẻ HTML5 và CSS</title>
  </head>
  <body>
    <header>
      <h1>Monday Timer</h1>
    </header>
    <nav>
      <ul>
        <li>Hello</li>
        <li>Xin chào</li>
        <li>Saqanika</li>
      </ul>
    </nav>
    <main>
      <h2>Newbie</h2>
      <article>
        <h2>New</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
          vitae ex aut fugiat quae voluptatem, nostrum rerum harum ab, odit
          consequuntur nihil vel eos tempora? Totam ducimus similique at
          dignissimos!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
          vitae ex aut fugiat quae voluptatem, nostrum rerum harum ab, odit
          consequuntur nihil vel eos tempora? Totam ducimus similique at
          dignissimos!
        </p>
      </article>
      <article>
        <h2>New1</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
          vitae ex aut fugiat quae voluptatem, nostrum rerum harum ab, odit
          consequuntur nihil vel eos tempora? Totam ducimus similique at
          dignissimos!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
          vitae ex aut fugiat quae voluptatem, nostrum rerum harum ab, odit
          consequuntur nihil vel eos tempora? Totam ducimus similique at
          dignissimos!
        </p>
      </article>
      <article>
        <h2>New2</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
          vitae ex aut fugiat quae voluptatem, nostrum rerum harum ab, odit
          consequuntur nihil vel eos tempora? Totam ducimus similique at
          dignissimos!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
          vitae ex aut fugiat quae voluptatem, nostrum rerum harum ab, odit
          consequuntur nihil vel eos tempora? Totam ducimus similique at
          dignissimos!
        </p>
      </article>
    </main>
    <footer><p>&copy; heloo</p></footer>
  </body>
</html>
